.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(24, 135, 255);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

/* Logo/Titulo da pagina */
.logo h1 {
  font-size: 1.5rem;
  color: rgb(255, 69, 0);
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

/* Botão hamburguer no mobile */
.hamburger {
  display: block;
  background: black;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
}

/* Navegação */
.nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: black;
  flex-direction: column;
}

.navOpen {
  display: flex;
}

.nav ul {
  list-style: none;
  padding: 16px;
}

.nav li {
  margin: 12px 0;
}

/* Links */
.nav a {
  color: white;           
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav a:hover {
  opacity: 0.7;
}
/* TABLET / DESKTOP (por serem horizontais)*/

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav {
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav ul {
    display: flex;
    padding: 0;
  }

  .nav li {
    margin: 0 16px;
  }

  .nav a {
    color: black;        
    font-size: 1rem;
  }
}
